{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Asistencia{% endblock %}
{% block content %}
<h3><span class="glyphicon glyphicon-search"></span> Control Asistencia</h3>
<div class="well bs-component">
    {% crispy form %}
    <div id="mensaje"></div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_dni').keyup(function () {
                dni = $('#id_dni').val()
                if ($('#id_dni').val().length == 8) {
                    $('#id_dni').val('')
                    evento = $('#id_evento').val()
                    $.ajax({
                      url: '/asistencia/' + evento + '/' + dni + '/',
                    })
                    .done(function(response) {
                        $('#mensaje').empty();
                    })
                    .fail(function() {
                        $('#mensaje').empty();
                        $('#mensaje').append('no existe dni');
                    })
                }
            });
        });
    </script>
{% endblock %}