{% load staticfiles %}{% load compressed %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>III Semana de Investigación - {% block title %}{% endblock %}</title>

    {% compressed_css 'all' %}
    {% block css %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'home_url' %}" class="navbar-brand">III Semana de Investigación</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                {% include 'menu.html' %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-book"></span> Contacto</h3>
                <p>
                    <strong>Universidad Nacional de San Antonio Abad del Cusco</strong>
                    <br>Av. de la Cultura, Nro. 733, Cusco - Perú
                    <br>Apartado Postal Nro 921
                </p>
                <p>
                    Telf. 51.84.604100 - Fax 51.84.238156
                </p>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    {% block modals %}{% endblock %}

    {% compressed_js 'all' %}
    {% block js %}{% endblock %}
</body>
</html>