{% load staticfiles %}{% load compressed %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>UNSAAC - Constancia de Incripción</title>
    {% compressed_css 'all' %}
</head>
<body>
    <div class="container" style="color:#000000;">
        <div style="border:2px solid; padding: 3px; margin: 6px;border-color:#000;width:450px;">
            <h4 class="text-center"><span class="glyphicon glyphicon-list-alt"></span> Constancia de Inscripción</h4>
            <h5 class="text-center">III Semana de la Investigación - UNSAAC 2014</h5>
            <center>
                <div id="bcTarget"></div>
            </center>
            <p>Id: {{inscrito.pk}}</p>
            <p>Apellidos: {{inscrito.paterno}}-{{inscrito.materno}}</p>
            <p>Nombres: {{inscrito.nombre}}</p>
            <p>Universidad: {{inscrito.universidad}}</p>
            <p>Cargo: {{inscrito.cargo}}</p>
        <div>
    </div>

    {% compressed_js 'all' %}
    <script src="{% static 'js/jquery-barcode.min.js' %}"></script>
    <script>
        $( document ).ready(function() {
            $("#bcTarget").barcode("{{inscrito.dni}}", "code128");
        });
    </script>
</body>
</html>
