{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="well bs-component">
<legend><span class="glyphicon glyphicon-info-sign"></span> Presentación</legend>
<p class="text-justify">
La <strong>III Semana de la Investigación UNSAAC 2014</strong>, constituye un reto institucional con nuevas perspectivas y búsqueda de disimiles respuestas, en tanto se plantea temas e  interrogantes relacionados a la gestión administrativa y política de la investigación científica, tecnológica y humanística en el ámbito regional - nacional.
</p>
<p class="text-justify">
El escenario que nos plantea la recientemente promulgada Ley Universitaria, nos conmina a elaborar un rápido balance de los avances más significativos y de los aspectos que forman parte de una agenda pendiente, en materia de gestión de la investigación e investigación científica propiamente dicha, que debe resolverse en los meses siguientes.
</p>
<p class="text-justify">
Las anteriores ediciones de la Semana de la Investigación UNSAAC,  han constituido la punta de la hebra que ha desmadejado interesantes procesos de capacitación, de promoción de la investigación y de construcción de propuestas conjuntas e interinstitucionales, con los que igual que nosotros trabajan por la innovación, invención e investigación en dialogo con las necesidades más urgentes del poblador andino y amazónico de la región Cusco y, al mismo tiempo, en respuesta a las demandas nacionales e internacionales.
</p>
<p class="text-justify">Difícil tarea pero no imposible, es la que nos ha tocado realizar hasta la fecha. La gestión de la investigación en la Universidad Nacional de San Antonio Abad del Cusco, dónde hasta antes del 2011 no contábamos con políticas, planes y/o proyectos que guíen el quehacer científico de más de 16,000 estudiantes y profesores universitarios; ahora se organiza desde un Vicerrectorado de Investigación sólido, eso significa que lento pero seguro, hemos avanzado y nos constituimos en un referente, en una experiencia exitosa  replicada en otras universidades del país.
</p>
<p class="text-justify">Los temas de la agenda regional de investigación, no son ajenos, participamos activamente en su construcción y priorización, su implementación y redimensionamiento conforme se avanza o se detectan nuevos problemas que con los aportes científicos locales, podemos ayudar a resolver.
</p>
<p class="text-justify">
Así, la III Semana de la Investigación y I Encuentro de Vicerrectores de Investigación UNSAAC 2014, se plante cinco días de intenso debate académico, difusión de los resultados de investigaciones realizadas por la Comunidad Universitaria Antoniana, el reconocimiento a los investigadores que han logrado excelencia en esta loable labor, y el afianzamiento de las relaciones y colaboraciones con universidades locales y nacionales, organismos e instituciones públicas y organizaciones internacionales.
</p>
<p class="text-justify">El I Encuentro de Vicerrectores de Investigación, en concreto, posibilitará un amplio balance de la investigación científica en el país, posibilitando consensos que serán plasmados en un sendo acuerdo público.
</p>
</div>
{% endblock %}