{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Inscripción{% endblock %}
{% block content %}
<h3><span class="glyphicon glyphicon-ok"></span> Inscripción Completa</h3>
<div class="well bs-component">
    <p class="text-justify">
    {{inscrito.nombre}}, estas inscrito(a) para La <strong>III Semana de la Investigación UNSAAC 2014</strong>, a continuación debes imprimir la constancia y PRESENTARLA EL DIA DEL EVENTO para REGISTRAR TU asistencia.
    </p>
    <p>
        <div class="text-right">
            <a class="btn btn-primary" href="{% url 'constancia_print_url' inscrito.dni %}">Constancia</a>
        </div>
    </p>
</div>
{% endblock %}