{% load staticfiles %}{% load compress %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>III Semana de Investigación - Constancia de Incripción</title>
    {% compress css %}
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/base.css" type="text/css" charset="utf-8">
    {% endcompress %}
</head>
<body>
    <div class="container">
        <div style="border:2px solid; padding: 3px; margin: 6px;border-color:#000;width:450px;">
            <h4 class="text-center"><span class="glyphicon glyphicon-list-alt"></span> Constancia de Inscripción</h4>
            <h5 class="text-center">III Semana de la Investigación - UNSAAC 2014</h5>
            <center>
                <div id="bcTarget"></div>
            </center>
            <p>DNI: {{object.pk}}</p>
            <p>Apellidos: {{object.paterno}} - {{object.materno}}</p>
            <p>Nombres: {{object.nombre}}</p>
            <p>Universidad: {{object.universidad}}</p>
            <p>Cargo: {{object.cargo}}</p>
        </div>
        <div class="text-right" style="padding: 3px; margin: 6px;border-color:#000;width:450px;">
            <a class="btn btn-primary btn-xs" href="{% url 'participante_constancia_url' %}"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
            <a onclick="window.print();" class="btn btn-primary btn-xs" href=""><span class="glyphicon glyphicon glyphicon-print"></span> Imprimir</a>
        </div>
    </div>

    {% compress js %}
        <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery-barcode.js" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
    <script>
        $( document ).ready(function() {
            $("#bcTarget").barcode("{{object.dni}}", "code128");
        });
    </script>
</body>
</html>
